@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-Black.ttf") format('trutype'),
  	url("fonts/Poppins-Black.ttf") format('trutype'),
  url("fonts/Poppins-Bold.ttf") format('trutype'),
  url("fonts/Poppins-Light.ttf") format('trutype'),
  url("fonts/Poppins-Medium.ttf") format('trutype'),
  url("fonts/Poppins-Regular.ttf") format('trutype')
}

@font-face {
  font-family: 'Inter';
  src: url("fonts/Inter-VariableFont_sInt,wght.ttf") format('truetype');
}