{% extends 'base.html.twig' %}

{% block title %}Modifier le langage{% endblock %}

{% block body %}

    <h1 class="text-center">Modifier le langage</h1>
    <div class="container">
        {{ include('language/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn btn-info mb-2" href="{{ path('app_language_index') }}">Retour à la liste</a>

        {{ include('language/_delete_form.html.twig') }}
    </div>
{% endblock %}
