{% extends 'base.html.twig' %}

{% block title %}Nouveau Langage{% endblock %}

{% block body %}
    <h1 class="display-4 m-4 text-center">Ajouter un nouveau Langage</h1>
    <div class="container">
        <div class="row">
            {{ include('language/_form.html.twig') }}
        </div>
    </div>
    <a class="btn btn-info m-4" href="{{ path('app_language_index') }}">Retour à la liste</a>
{% endblock %}
