{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <h1 class="text-decoration-underline">Bienvenue sur le tableau de bord !</h1>

    <div class="container mt-5 ">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="card">
                    <div class="card-body bg-dark" >
                        <h3>Nombre de Projets</h3>
                        <span class="display-4">{{ projects | length }} </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body bg-dark">
                        <h3>Nombre d'articles du blog</h3>
                        <span class="display-4">{{ articles | length }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-5">
                <div class="card">
                    <div class="card-body bg-dark">
                        <h3>Nombre de commentaires </h3>
                        <span class="display-4">{{ comments | length }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}