<footer>
    <div class="container-fluid bg-dark">
        <div class="row">
            <p class="text-white p-2 text-center">&copy; copyright {{ 'now'| date('Y')}}  Nicolas Garcia - Design, integration et développement Nicolas Garcia</p>
            <div class="p-4 text-white text-center"><a href="{{ path('app_mentions') }}">Mentions Légales</a></div>
        </div>
    </div>


</footer>