
<header>
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{{ asset('assets/img_projet/logo_portfolio.png') }}" alt="logo de Nicolas Garcia"></a>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/">Réalisations</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>


