{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Projet</h1>

    {{ include('project/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_project_index') }}">Retour à la liste</a>
{% endblock %}
